@model List<ArabaSatis.Models.ArabaResim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>
<a asp-action="Create">Yeni</a>

<table>
    
    <tr>
        <td></td>
    </tr>
</table>

